[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.confluenciafm.com.ar/galeria/cruzroja.jpg
Type=Link
URL=http://www.confluenciafm.com.ar/galeria/cruzroja.jpg
Icon=image-jpeg
